<div class="container">
   <div class="mt-5 mb-5 row">
        <div class="container col-lg-8 col-md-8 col-sm-8">
          <button (click)="homepage()" class="btn" id="c"><i class="fa-solid fa-house fa-2xl"></i></button>
            <h1>Account Statement</h1>
            <div class="d-flex justify-content-end my-1">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn" id="c">All</button>
                    <button type="button" class="btn border-start" id="c">Debit</button>
                    <button type="button" class="btn border-start" id="c">Credit</button>
                  </div>
            </div>
              <div>
                <table class="table table-striped border">
                    <thead></thead>
                    <tbody>
                        <tr>
                            <td>No</td>
                            <td>Type</td>
                            <td>Amount</td>
                            <td>Date</td>
                        </tr>
                    </tbody>
                </table>
              </div>
              <div><button id="c" class="btn">Export as pdf <i class="fa-solid fa-file-pdf"></i></button></div>
        </div>
        <div class="container col-lg-4 col-md-4 col-sm-4">
        
                    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://i.postimg.cc/TPLHdqvS/bank.webp" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://i.postimg.cc/0y5VFpz9/mobile-internet-banking-1.webp" class="d-block w-100" alt="internetMobile">
            </div>
            <div class="carousel-item">
              <img src="https://i.postimg.cc/d0cVJmyT/fixed.jpg" class="d-block w-100" alt="FixedDeposit">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
                </div>
   </div>
            </div>
    
