
<div class="container col-lg-4 col-md-4 col-sm-4 mt-2 border rounded-5 bg-body-secondary p-5 mt-4 mb-4" id="d">
    <form>
        <div><input class="form-control mt-2" type="text" placeholder="Enter your name"></div>
        <div><input class="form-control mt-2"  type="text" placeholder="Enter your Account no"></div>
        <div><input class="form-control mt-2"  type="text" placeholder="Enter Password"></div>
        <div><input class="form-control mt-2"  type="text" placeholder="Confirm Password"></div>
        <button (click)="signup()" class="btn btn-primary mt-2" type="button">Register</button>
        <p class="mt-2">already have an account? <a href=" " class="link text-decoration-none link-dark">click here to log in</a></p>
    </form>
</div>
